			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/academics">Academics</a></li>
	        		<li><a href="/research">Research</a></li>
					<li><a href="/experience">Research</a></li>
	        		<li><a href="/publications">Publications</a></li>
	        		<li><a href="/latest_catch">Latest Catch</a></li>
	        		<li><a href="/under_construction">under_construction</a></li>
<!--	        		<li><a href="/papers">papers</a></li>
	        		<li><a href="/activities">activities</a></li>
	        		<li><a href="/software">software &amp; demos</a></li>
-->
	    		</ul>
			</nav>
