---
layout: entitled
title: academics
---
<link rel="stylesheet" href="people_grid.css">

<div>
<h2>Academic Details</h2>

<h3>MASTER OF TECHNOLOGY (MTECH) IN COMPUTER SCIENCE AND ENGINEERING from National Institute of Technology
  Meghalaya<br>
  <ul><li>Prof. Dr. {% include linked_name.html id="PeterFlach"%} (University of Bristol)</li>
    <li>Prof. Dr. {% include linked_name.html id="StefanWrobel"%} (University of Bonn and Fraunhofer IAIS)<br>
    </li></ul>
</h3>

<h3>BACHELOR OF TECHNOLOGY (BTECH) IN COMPUTER SCIENCE & ENGINEERING from Tezpur University<br>
  <ul><li>Prof. Dr. {% include linked_name.html id="PeterFlach"%} (University of Bristol)</li>
    <li>Prof. Dr. {% include linked_name.html id="StefanWrobel"%} (University of Bonn and Fraunhofer IAIS)<br>
    </li></ul>
</h3>

</div>
